@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body {
    max-width: 2000px;
    margin: 0 auto;

    overflow-x: hidden;
    background: #000000;
    color: #ffffff;

    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    color: white;
    background: #000dff;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #000dff;
}
